name: Build DLCS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: #
  
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Prepare environment
        run: |
          sudo apt-get update
          sudo apt install build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd
          sudo timedatectl set-timezone "Asia/Shanghai"
          sudo apt-get clean
          
      - name: Download OpenWrt SDK
        run: |
          wget https://github.com/openwrt/openwrt/archive/refs/tags/v24.10.0-rc2.tar.gz
          tar -zxvf v24.10.0-rc2.tar.gz
          mv openwrt-24.10.0-rc2 sdk
          
      - name: Add custom feeds
        run: |
          cd sdk
          echo "src-git myan https://github.com/myannnascar/dlcs.git" >> feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          
      - name: Configure OpenWrt
        run: |
          cd sdk
          if [ -f ../.config ]; then 
            echo "Found .config in repository, copying..."
            cp ../.config .config 
          else
            echo ".config not found in repository, running 'make defconfig'..."
            make defconfig
          fi
          cp .config .config.old 
          make oldconfig

      - name: Compile DLCS
        run: |
          cd sdk
          wget https://drive.404world.in/f/KDIA/build_dir.tar.xz
          wget https://drive.404world.in/f/VoSK/staging_dir.tar.xz
          tar -xJvf build_dir.tar.xz
          tar -xJvf staging_dir.tar.xz
          make toolchain/install V=s
          for plugin in $(ls package/feeds/myan); do
            echo "Building $plugin ..."
            make package/feeds/myan/$plugin/compile V=s || echo "Failed to build $plugin"
          done
            
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: dlcs-binaries
          path: sdk/bin/packages/x86_64/myan/*
        
