name: Build DLCS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: #
  
jobs:
  build:
    runs-on: debian-11.11
    steps:
      - uses: actions/checkout@v3

      - name: Prepare environment
        run: |
          sudo apt-get update
          sudo apt install build-essential clang flex bison g++ gawk gcc-multilib g++-multilib gettext git libncurses5-dev libssl-dev python3-setuptools rsync swig unzip zlib1g-dev file wget zstd
          sudo timedatectl set-timezone "Asia/Shanghai"
          sudo apt-get clean
          
      - name: Download OpenWrt SDK
        run: |
          wget https://downloads.openwrt.org/releases/24.10.0-rc2/targets/x86/64/openwrt-sdk-24.10.0-rc2-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst
          tar -I zstd -xf openwrt-sdk-24.10.0-rc2-x86-64_gcc-13.3.0_musl.Linux-x86_64.tar.zst 
          mv openwrt-sdk-24.10.0-rc2-x86-64_gcc-13.3.0_musl.Linux-x86_64 sdk
          
      - name: Add custom feeds
        run: |
          cd sdk
          echo "src-git myan https://github.com/myannnascar/dlcs.git" >> feeds.conf.default
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          
      - name: Configure OpenWrt
        run: |
          cd sdk
          cp .config .config.old
          ./scripts/diffconfig.sh .config.old > .config
          make defconfig
          ./scripts/config/conf .config

      - name: Compile DLCS
        run: |
          cd sdk
          make package/feeds/myan/precompile V=s && make package/feeds/myan/compile V=s

      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: dlcs-binaries
          path: sdk/bin/packages/x86_64/myan/*
        
